.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.cart-img img{
  width: 100%;
}

.cart-img{
 width: 15%;
margin-top: 3%;
}

.cart-detail{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 10%;
    
}

.cart-detail p {
    margin-top: 0;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 10%;
    font-size: 0.8rem;
}

.delete-button{
    width: 9%;
    background-color: white;
    border: none;
}

.delete-img{
    width: 100%;
    background-color: white;
}

.carrito-vacio{
    text-align: center;
    margin-top: 7%;
    margin-left: 20px;
}

.container-subtotal{
    text-align:  right;
    margin: 5%;
    font-weight: 700;

}

.container-form{
    text-align: left;
    margin: 2% 0%;
}

.label-form{
    text-align: left;
    margin: 0 2%;
    font-weight: 500;
    width: 6rem;
}

.input-form{
    width: 13rem;
}


