.itemDetail {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.imgThumbnails {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgDetail {
    width: 30%;
    margin-top: 2%;
}

.itemDetail img {
    width: 100%;
}


.contentDetail{
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

.contentDetail-Title {
    font-size: 1.3rem;
    font-weight: bolder;
}

.contentDetail-Price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.itemColor p {
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}

.btn-color-white{
    background-color: white;
    border: 0.5px solid black;
    margin-right: 2%;
}

.btn-color-grey{
    background-color: grey;
    border: 0.5px solid black;

}

.btn-color {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.itemSize p {
    margin-top: 1rem;
    font-weight: bold;
}

.itemCount{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.itemCount button{
    margin: 0% 5%;
    height: 10%;
}

.itemCount p{
    margin: 0% 0%;
}

.addCart{
    margin: 5% 5%;
    width: 70%;
    padding: 1% 0%;
}