.itemDetail {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}



.imgDetail {
    width: 35%;
    margin-top: 2%;
}

.itemDetail img {
    width: 100%;
}


.contentDetail{
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

.contentDetail-Title {
    font-size: 1.3rem;
    font-weight: bolder;
}

.contentDetail-Price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.itemColor p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.btn-color-blanco{
    background-color: white;
    border: 0.5px solid black;
    margin-right: 2%;
}

.btn-color-gris{
    background-color: grey;
    border: 0.5px solid black;

}

.btn-color-camel{
    background-color: #C19A6B;
    border: 0.5px solid black;

}

.btn-color-grisclaro{
    background-color: rgb(155, 153, 153);
    border: 0.5px solid black;

}

.btn-color-grisoscuro{
    background-color: rgb(94, 94, 94);
    border: 0.5px solid black;

}

.btn-color {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.itemSize p {
    margin-top: 1rem;
    font-weight: bold;
}

.itemCount{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.itemCount button{
    margin: 0% 5%;
    width: 2rem;
    border: 0;
    border-radius: 50%;
}

.itemCount p{
    margin: 0% 0%;
    font-weight: bold;
}

.addCart{
    margin: 5% 1%;
    width: 70%;
    padding: 1% 0%;
    width: 150px;
    background-color: rgba(73, 88, 54, 0.654);
    color: white;
    border: none;
    padding: 0.5% 0.5%;
    font-size: 90%;
}

.btndetail-addCart:hover{
    background-color: rgba(97, 106, 84, 0.654);
}

.btndetail-backhome{
    margin: 5% 1%;
    width: 70%;
    padding: 1% 0%;
    width: 150px;
    background-color: rgba(128, 128, 128, 0.654);
    color: white;
    border: none;
    padding: 0.5% 0.5%;
    font-size: 90%;
}

.btndetail-backhome:hover{
    background-color: rgba(97, 106, 84, 0.654);
}



.carousel-product{
    width: 30vw;
}



