.container-backhome{
    /* position: fixed;
    z-index: 8; */
    margin-top: 0.5rem;
    width: 100vw;
    height: 5%;
    background-color: rgb(250, 250, 250);
}

.element-backhome {
    width: 20rem;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.icondetail-backhome{
    height: 1rem;
    color: rgb(75, 75, 75);

}

.pdetail-backhome{
    margin: 0;
    /* width: 100%; */
    height: 1.5rem;
    background-color: transparent;
    color: rgb(75, 75, 75);
    border: none;
    padding: 0% 1%;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 1rem;
    padding-top: 0.25rem;
}

.pdetail-backhome:hover,
.icondetail-backhome:hover {
    color: rgba(97, 106, 84, 0.654);
    background-color: white;
}

.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 5%;
}


.imgDetail {
width: 35%;
   margin-left: 5%;
 
}

.itemDetail img {
    width: 100%;
}

.contentDetail{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    
}

.contentDetail-Title {
    font-size: 1.3rem;
    font-weight: bolder;
}

.contentDetail-Price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.itemPrice {
    font-size: 0.8rem;
    width: 25rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.itemPrice hr {
    margin: 0.5rem;
}

.itemColor {
    position: relative;
    top: -5rem;
}

.itemColor p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.btn-color-blanco{
    background-color: white;
    border: 0.5px solid black;
    margin-right: 2%;
}

.btn-color-gris{
    background-color: grey;
    border: 0.5px solid black;

}

.btn-color-camel{
    background-color: #C19A6B;
    border: 0.5px solid black;

}

.btn-color-grisclaro{
    background-color: rgb(155, 153, 153);
    border: 0.5px solid black;

}

.btn-color-grisoscuro{
    background-color: rgb(94, 94, 94);
    border: 0.5px solid black;

}

.btn-color {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.itemSize {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.itemSize-Select {
    width: 10rem;
}

.itemSize-Select p {
    font-weight: bold;
}

.itemSize-description {
    width: 15rem;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
}

.itemSize-description p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 0.8rem;
}


.itemCount{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.itemCount button{
    margin: 0% 5%;
    width: 2rem;
    border: 0;
    border-radius: 50%;
}

.itemCount p{
    margin: 0% 0%;
    font-weight: bold;
}

.addCart{
    margin: 5% 1%;
    padding: 1% 0%;
    width: 12rem;
    height: 2rem;
    background-color: rgba(155, 155, 155, 0.654);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5% 0.5%;
    font-size: 1rem;
}

.btndetail-addCart:hover{
    background-color: rgba(97, 106, 84, 0.654);
}


.carousel-product{
    width: 30vw;
}



