/* CAROUSEL COMPONENT */

.carousel-landing {
    margin-left: 5%;
    margin-bottom: 2%;
    width: 85%;

}


/* CATEGORY CARD COMPONENT */

.container-categoryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2%;
}

.category-card {
    position: relative;
    width: 30%;
    border: none;
    margin: 1% 1%;
}

.container-img-card {

    width: 100%;
    overflow: hidden;
    margin: 0 auto;

}

.img-card {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.container-img-card:hover img {
    transform: scale(1.2);
}

.container-text-card{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    text-decoration: none;
}


.container-ver-productos{
   text-align: center;
   margin: 5% 0;

}

.btn-ver-productos{
    background-color: rgba(73, 88, 54, 0.654);
    color: white;
    border: none;
    padding: 0.5% 5%;
    font-size: 90%;

}

.btn-ver-productos:hover{
    background-color: rgba(97, 106, 84, 0.654);
}

.container-nuestro-compromiso{
    width: 90%;
    margin: 5% 5%;
}

.img-nuestro-compromiso{
    width: 100%;

}

.container-envio-compra{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.img-envio-compra{
    width: 100%;

}

