.container-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.cart{
    text-decoration: none;
    color: black;
}

.container-cart p{
    background-color: rgb(70, 68, 68);
    color: white;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: 5% 5%;
    margin: 10% 10%;
    font-size: 0.8rem;
    font-weight: bold;
}

.offcanvas{
    width: 50vw
}