.container-filter-items{
    margin: 5% 5%;
    
}

.container-filter-items h2 {
    width: 80%;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
}

.container-filter-items button {
    width: 80%;
    max-width: 10rem;
    background-color: #ffffff;
    color: rgb(39, 39, 39);
    border: none;
    padding: 0.7rem;
    font-size: 90%;
    text-align: left;
    line-height: 1rem;
}

.container-filter-items button:hover {
    background-color: #99a5ae;
}

