.item{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2% 1%;
    margin: 1%;
    width: 15%;
    min-width: 180px;
    max-width: 240px;
    border: 0.5px solid rgba(155, 155, 155, 0.313);
}

.item img{
    width: 100%;
    
}

.item p{
    font-size: 1.2rem;
    font-weight: bolder;
}

.item p a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
}

.item-description{
    height: 100px;
}

.btndetail{
    width: 150px;
}

.btndetail{
    background-color: rgba(73, 88, 54, 0.654);
    color: white;
    border: none;
    padding: 0.5% 0.5%;
    font-size: 90%;

}

.btndetail:hover{
    background-color: rgba(97, 106, 84, 0.654);
}


