.itemCat{
    flex-grow: 3;
    padding: 0;
    min-width: 200px;
    max-width: 45vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
    margin-left: 2vw;
}

.itemCatContainer {
    position: relative;
    /* width: 24vw; */
    min-width: 20vw;
    
    height: 60vh;
}

.itemCatContainer img{
    width: 100%;
    height: 110%;
    object-fit: cover;
    border-radius: 2%;
}

.itemCatContainer:hover{
    transform: scale(1.04);
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    
  
}

.itemCatContainer:hover .itemCat-description-title {
  transform: scale(1.02) translateY(10px);
  text-shadow: 1px rgb(150, 153, 182);
  transition: all 0.3s ease-in-out;
  color: rgb(85, 85, 85);
}

.itemCatContainer:hover .itemCat-description-title a {
    color: rgb(85, 85, 85);
    text-shadow: 1px rgb(77, 83, 100);
    transition: all 0.3s ease-in-out;
  }

.itemCatContainer:hover .itemCat-description {
    color: rgb(17, 17, 17);
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }


.itemCat-description-title {
    font-size: 2.5rem;
    opacity: 1;
    position: absolute;
    top: 10%;
    left: 5%;
    color: #ffffff
}

.itemCat-description-title a{
    text-decoration: none;
    color: #ffffff
}

.itemCat-description-title a:hover{
    color: #ffffff
}


.itemCat-description{
    width: 100%;
    height: 34vh;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.7);;   
    font-size: 0.8rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 0;
    color: rgb(17, 17, 17);
}

.itemCat-description a{
text-decoration: none;
color: rgb(17, 17, 17);

}

.itemCat-description a:hover{
    text-decoration: none;
    color: rgb(17, 17, 17);
    
    }








