
 #dropdown-item-button{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 0.85rem;
    color: rgb(60, 59, 59);
  }

  #dropdown-item-button:hover{
    color: grey;
  }

 .dropdown-category{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 0.80rem;
    color: rgb(60, 59, 59);
  }