.navBar{
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 9;
    width: 100%;
}

.sub-navbar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.promocion{
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 0.8rem;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 1%;
    width: 100%;
}

.buscar{
    width: 30%;
}

.container-logo{
    width: 30%;
}

.logo{
    width: 20vw;

}

.container-inicio-sesion{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.a-small{
    text-decoration: none;
    font-size: 0.7rem;
    color: black;
    padding: 0px 5px;
}

.container-categorias{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
}

.a-large{
    text-decoration: none;
    font-size: 0.85rem;
    color: rgb(60, 59, 59);
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;

}

