* {
    font-family: 'Montserrat';
}

.container-footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(141,146,128);
}

